pytz == 2017.3
web3 == 5.12.0
requests == 2.22.0
python-dateutil == 2.8.1
websockets == 8.1.0
python-kucoin == 2.1.2
pyjwt == 1.7.1
leverj_ordersigner == 0.8
simplefix == 1.0.14
eth-account == 0.5.2
dydx-python == 0.10.0
